.generic-content-creator {

    p {
        font-weight: 300;
        line-height: 1.65;
        margin-left: 1em;
        margin-right: 1em;

        @mixin atSmall {
            font-size: 1.125rem;
        }

    }

    p a {
        font-weight: 700;
    }

    }

